/* ================= Global Styles ================= */
html,
body,
#pageWrap {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 18px;
  max-width: 1280px;
  margin: 0 auto;
}

h1,
figure {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  text-align: center;
}

.flexDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.rowWrap {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.flexJustify {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.stretch {
  -webkit-align-content: stretch;
  align-content: stretch;
}
/* =======================  COLORS  =============================== */
body,
.globalNavList a,
.globalNavList a.active,
#localNav > ul > li > a  {
  color: #555;
}

body,
#contentInnerWrap {
  background-color: #EFF5F0;
}

.active {
  color: #9f9f9f;
}

#localNav > ul > li > a,
#content > figure#backgd {
  border-color: 2px solid #555;
}

/* ======================= CONTENT ================================ */

#pageWrap header {
  height: 50px;
  position: relative;
  top: 0;
  background-color: #333;
}

#homePageIcon {
  display: block;
  margin: 0 auto;
  height: 45px;
  width: 45px;
  background-image: url("../images/icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  top: 5px;
}

header > a#showNav {
  display: inline-block;
  float: right;
  height: 40px;
  width: 40px;
  background-color: white;
  position: relative;
  z-index: 1;
  top: -40px;
  right: 5px;
}

nav#globalNav {
  display: none;
  position: relative;
  top: -34px;
  overflow: hidden;
  width: 100%;
}

ul#globalNavContent {
  padding: 0;
}

/* Disabled while building the module for the list item returns -------------- READ THIS ------------ */
#content {
  display: none;
}

#content > figure#backgd {
  width: 100%;
  height: 600px;
  background-color: #999;
  border-bottom: 2px solid;
}

#pageTitle h1 {
  text-align: center;
  margin: .8em 0;
}

li.globalNavList,
#localNav > ul > li {
  display: inline-block;
}

/* Set the placement container as a flexible container, allowing its children
elements to flex depending on viewport.*/
#globalNavContent {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

/* style declarations for the global navigation container boxes */
li.globalNavList {
  background-color: goldenrod;
  height: 50px;
  width: 33%;
  margin: 1px;
  box-sizing: border-box;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

/* style declaration to allow anchor tags to inherit parent containers
for nav */
.globalNavList a {
  display: block;
  height: inherit;
}

#localNav > ul {
  width: 50%;
  margin: 0 auto;
}

#localNav > ul > li {
  display: inline-block;
  text-align: center;
  padding: .5em;
  margin: .1em 0 2em;
  box-sizing: border-box;
  width: 49%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

#localNav > ul > li > a {
  display: block;
  width: 90%;
  height: 2em;
  display: block;
  margin: 0 auto;
  padding-top: 0.5em;
  border: 2px solid;
  border-radius: 2px;
  -webkit-transition: .2s background ease-in-out;
  -moz-transition: .2s background ease-in-out;
  transition: .2s background ease-in-out;
}

#localNav > ul > li > a:hover {
  background-color: #999;
}

#localNav > ul > li > a.active {
  background-color: rgba(0,0,0,0);
  border: none;
}

#content {
  width: 100%;
}

article#mainDisplay,
#conditionsInfo {
  width: inherit;
}

#conditionsInfo > #localData {
  padding: 1.2em;
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}

#conditionsInfo > #localData > li {
  line-height: 1.4em;
  font-size: 1.2em;
}

#conditionsInfo > #remoteData > li {
  display: inline-block;
  width: 32.9%;
  text-align: center;
  min-height: 100px;
  font-size: .8em;
  color: #666;
  padding: .3em;
  box-sizing: border-box;
  margin: .1em;
  /*background-color: #9f9f9f; ======== see flex tiles =====*/
}

#conditionsInfo > #remoteData > li > span {
  display: block;
  margin-top: .6em;
  font-size: 2.2rem;
  color: #555;
  line-height: 1;
}

#conditionsInfo > #remoteData > li > span small {
  font-size: 1rem;
}

/* =============== BACKGROUNDS ======================== */

.santaCruz,
.carpenteria,
.sanClemente {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media
only screen and (max-width: 499px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (max-width: 499px) and (min--moz-device-pixel-ratio: 2),
only screen and (max-width: 499px) and (min-device-pixel-ratio: 2),
only screen and (max-width: 499px) and (min-resolution: 192dpi),
only screen and (max-width: 499px) and (min-resolution: 2dppx) {
  .santaCruz {
    background-image: url("../images/steamers_sm_2x.jpg");
  }

  .carpenteria {
    background-image: url("../images/rincon_sm_2x.jpg");
  }

  .sanClemente {
    background-image: url("../images/trestles_sm_2x.jpg");
  }
}

@media
only screen and (min-width: 500px) and (-webkit-min-device-pixel-ratio: 1),
only screen and (min-width: 500px) and (min--moz-device-pixel-ratio: 1),
only screen and (min-width: 500px) and (min-device-pixel-ratio: 1) {
  .santaCruz {
    background-image: url("../images/steamers_sm.jpg");
  }

  .carpenteria {
    background-image: url("../images/rincon_sm.jpg");
  }

  .sanClemente {
    background-image: url("../images/trestles_sm.jpg");
  }
}

@media
only screen and (min-width: 500px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-width: 500px) and (min--moz-device-pixel-ratio: 2),
only screen and (min-width: 500px) and (min-device-pixel-ratio: 2),
only screen and (min-width: 500px) and (min-resolution: 192dpi),
only screen and (min-width: 500px) and (min-resolution: 2dppx) {
  .santaCruz {
    background-image: url("../images/steamers_md_2x.jpg");
  }

  .carpenteria {
    background-image: url("../images/rincon_md_2x.jpg");
  }

  .sanClemente {
    background-image: url("../images/trestles_md_2x.jpg");
  }
}

@media
only screen and (min-width: 500px) and (-webkit-min-device-pixel-ratio: 1),
only screen and (min-width: 500px) and (min--moz-device-pixel-ratio: 1),
only screen and (min-width: 500px) and (min-device-pixel-ratio: 1) {
  .santaCruz {
    background-image: url("../images/steamers_md.jpg");
  }

  .carpenteria {
    background-image: url("../images/rincon_md.jpg");
  }

  .sanClemente {
    background-image: url("../images/trestles_md.jpg");
  }
}

@media
only screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 1),
only screen and (min-width: 769px) and (min--moz-device-pixel-ratio: 1),
only screen and (min-width: 769px) and (min-device-pixel-ratio: 1) {
  .santaCruz {
    background-image: url("../images/steamers_lg.jpg");
  }

  .carpenteria {
    background-image: url("../images/rincon_lg.jpg");
  }

  .sanClemente {
    background-image: url("../images/trestles_lg.jpg");
  }
}

@media
only screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-width: 769px) and (min--moz-device-pixel-ratio: 2),
only screen and (min-width: 769px) and (min-device-pixel-ratio: 2),
only screen and (min-width: 769px) and (min-resolution: 192dpi),
only screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .santaCruz {
    background-image: url("../images/steamers_lg_2x.jpg");
    background-position: bottom;
  }

  .carpenteria {
    background-image: url("../images/rincon_lg_2x.jpg");
  }

  .sanClemente {
    background-image: url("../images/trestles_lg_2x.jpg");
  }

  .carpenteria,
  .sanClemente {
    background-position: top;
  }
}

@media only screen and (max-width: 1024px) {
  #content > figure#backgd {
    height: 475px;
  }
}


@media only screen and (max-width: 768px) {
  #content > figure#backgd {
    height: 300px;
  }
  li.globalNavList {
    width: 100%;
  }

  #localNav > ul {
    width: 100%;
  }

  #localNav > ul > li {
    padding: .1em;
  }

  #localNav > ul > li > a {
    width: 90%;
  }

  #conditionsInfo > #localData {
    width: 100%;
  }

  #conditionsInfo > #localData > li {
    padding: 0 .2em;
    font-size: .9em;
  }

  #conditionsInfo > #remoteData > li {
    width: 32%;
    margin: 2px;
    box-sizing: border-box;
  }

  #conditionsInfo > #remoteData > li > span {
    margin-top: 1em;
    font-size: 1.3rem;
  }
  #conditionsInfo > #remoteData > li > span small {
    font-size: .7rem;
  }
}
