/* ============ Global Styles =============== */
body, footer, #heroImg {
  width: 100%;
}

body, #pageWrap {
  height: 100%;
}

header, footer {
  background: rgba(0, 0, 0, 0.85);
}

body {
  background-color: #999;
}

h1 {
  margin: 0;
}

/* ============= Index Styles ================ */
header h1 {
  color: white;
}

#heroImg {
  height: 480px;
  background: url('../images/bckgd_sm.jpg');
  background-size: cover;
  background-position: -140px;
  margin: 0 auto;
}

/* =========== Sub Nav ======================= */
#subNav {
  color: green;
}

#nav ul {
  display: none;
}

/* ============= Footer Section ================ */
footer {
  position: fixed;
  bottom: 0;
  color: white;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #heroImg {
    background: url('../images/bckgd_sm@2x.jpg') no-repeat;
  }
}
